* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style: none;
}

nav#barraMenu {
    background-color: rgba(255, 255, 255, 1);
    
}

div.dropdown-menu.show {
    border: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

a#logo {
    width: 50%;
}

a#logo img {
    width: 60%;
}

div#carousel {
    margin-top: 15%;
}

div.card {
    width: 100%;
}

div#jornadas {
    border: 0;
}

div#jornadas img {
    border-radius: 50%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}

div#quienes {
    background-color: rgba(0, 100, 150, 0.5);
}

div#quienes img {
    border-radius: 50%;
}
div iframe {
    height: 100%;
}
span.display-3 {
    font-weight: 300;
    margin: -10% 0 -10% 0;
}

div#faqs {
    padding-top: 15%;
}

div#contacto {
    padding-top: 15%;
}

img.logoredes {
    width: 5%;
}

footer {
    display: grid;
    background-color: rgb(80, 80, 80);
    color: white;
}

span#empresas {
    margin-left: auto;
    margin-right: auto;
}
iframe {
     width: 100%;
     height: 50%;
}

@media(min-width: 768px) {
    div#carouselportada {
        height: 85vh;
    }

    a#logo {
        width: 40%;
    }

    a#logo img {
        width: 50%;
    }

    nav#barraMenu {
        background-color: rgba(255, 255, 255, 0.8);
    }

    div#faqs {
        padding-top: 10%;
    }

    div#contacto {
        padding-top: 10%;
    }

    div#carousel {
        margin-top: 0%;
    }
}